.boxRegistrasi {
	width: auto;
	border: 1px solid black;
	padding: 10px;
	margin: 10px 15px;
	background-color: #ffffff;
	border-radius: 5px;
}
.posisiHalaman {
	background-color: #0066a2;
	font-weight: bold;
	border: 1px solid black;
	border-radius: 5px;
}
.posisiHalaman p {
	padding: 5px 10px;
}
.posisiHalaman a {
	text-decoration: none;
	color: linen;
}
.posisiHalaman a:hover {
	text-decoration: none;
	color: orange;
}
.kontenHalaman {
	font-weight: normal;
	color: #000000;
	border: 1px solid #cccccc;
	border-radius: 5px;
}
.kontenHalaman p {
	padding: 25px 30px;
}