/* @import url('style-reset.css'); */
@import url('normalize.css');
@import url('style-fonts.css');

input[type=search] {
	width: 250px;
	margin: 5px 5px;
	box-sizing: border-box;
	/* border: 2px solid #ccc; */
	border-radius: 4px;
	font-size: 16px;
	/* background-color: white; */
	background-image: url('https://www.w3schools.com/howto/searchicon.png');
	background-position: 10px 10px; 
	background-repeat: no-repeat;
	padding: 12px 20px 12px 40px;
	-webkit-transition: width 0.4s ease-in-out;
	transition: width 0.4s ease-in-out;
}

.carousel-showmanymoveone .carousel-control {
	width: 10%;
	background-image: none;
}
.carousel-showmanymoveone .carousel-control.left {
	margin-left: 15px;
}
.carousel-showmanymoveone .carousel-control.right {
	margin-right: 15px;
}
.carousel-showmanymoveone .cloneditem-1,
.carousel-showmanymoveone .cloneditem-2,
.carousel-showmanymoveone .cloneditem-3 {
	display: none;
}
@media all and (min-width: 768px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: -50%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 50%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-1 {
		display: block;
	}
}
@media all and (min-width: 768px) and (transform-3d), all and (min-width: 768px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(50%, 0, 0);
						transform: translate3d(50%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-50%, 0, 0);
						transform: translate3d(-50%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);
		left: 0;
	}
}
@media all and (min-width: 992px) {
	.carousel-showmanymoveone .carousel-inner > .active.left,
	.carousel-showmanymoveone .carousel-inner > .prev {
		left: -25%;
	}
	.carousel-showmanymoveone .carousel-inner > .active.right,
	.carousel-showmanymoveone .carousel-inner > .next {
		left: 25%;
	}
	.carousel-showmanymoveone .carousel-inner > .left,
	.carousel-showmanymoveone .carousel-inner > .prev.right,
	.carousel-showmanymoveone .carousel-inner > .active {
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner .cloneditem-2,
	.carousel-showmanymoveone .carousel-inner .cloneditem-3 {
		display: block;
	}
}
@media all and (min-width: 992px) and (transform-3d), all and (min-width: 992px) and (-webkit-transform-3d) {
	.carousel-showmanymoveone .carousel-inner > .item.active.right,
	.carousel-showmanymoveone .carousel-inner > .item.next {
		-webkit-transform: translate3d(25%, 0, 0);
						transform: translate3d(25%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.active.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev {
		-webkit-transform: translate3d(-25%, 0, 0);
						transform: translate3d(-25%, 0, 0);
		left: 0;
	}
	.carousel-showmanymoveone .carousel-inner > .item.left,
	.carousel-showmanymoveone .carousel-inner > .item.prev.right,
	.carousel-showmanymoveone .carousel-inner > .item.active {
		-webkit-transform: translate3d(0, 0, 0);
						transform: translate3d(0, 0, 0);
		left: 0;
	}
}

.postPopulerKarya {
	position: relative;
	height: 300px;
	margin: 0px 10px;
}

.postPopulerKarya img {
	position: absolute;
	height: 300px;
	width: auto;
	opacity: 0.8;
}

.postPopulerKarya h3 {
	position: absolute;
	bottom: 5%;
	left: 10%;
}

.postEsai1 {
	position: relative;
}

.postEsai1 img {
	width: 90%;
	height: 250px;
	opacity: 0.5;
}

.postEsai1 h3 a {
	width: auto;
}

.postEsai1 h3 {
	position: absolute;
	left: 5%;
	top: 10%;
}

.postEsai1 a {
	position: absolute;
	bottom: 17%;
	right: 9%;
}

.article {
	margin: 3%;
}

.fitur1 {
	position: absolute;
	bottom: 15%;
	left: 5%;
	border-spacing: -25px;
	right: 10px;
}

.fitur1 span {
	font-size: 35px;
	margin: 0 20px;
}

.formPenggunaMdD {
	margin-top: 50px;
}

.formPenggunaPopuler1 {
	margin-top: 50px;
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
}

.media {
	border: 1px solid black;
	border-radius: 5px;
	padding: 3px;
}

.media-heading {
	padding: 3px 5px 0px;
}

.formPenggunaPopuler1 img {
	height: 50px;
	width: 50px;
	border-right: 1px solid black;
	padding: 2px;
}

.formKomentarT1 {
	margin-top: 50px;
	border: 1px solid black;
	padding: 5px;
	border-radius: 5px;
}

.formKomentarT1 img {
	height: 50px;
	width: 50px;
	border-right: 1px solid black;
	padding: 2px;
}